body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrong {
  font-size: 10px;
  color: #09CDDA;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.35;
}

.force {
  font-size: 8px;
  color: #09CDDA; 
  position: fixed;
  bottom: 0;
  right: 0em;
  opacity: 0.25;
}
